<%= form_for(@twitter) do |f| %>
  <% if @twitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twitter.errors.count, "error") %> prohibited this twitter from being saved:</h2>

      <ul>
      <% @twitter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tweet %><br>
    <%= f.text_field :tweet %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
